.text-area {
    background-color: #484B52;
    flex-grow: 1;
    border: 0;
    resize: none;
    outline: none;
    color: #C3C4C5;
    transition-duration: 0s;
}

.text-area:active{
    outline: none;

}
